@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Source+Code+Pro:ital,wght@0,400;0,700;1,300&display=swap");

html {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

form {
  border: 0.25rem solid black;
  background-color: whitesmoke;
  padding: 3rem 4rem;
  margin: 1rem;
  .odin-logo {
    width: 150px;
    display: block;
    margin: 0 auto 2rem;
  }
  .title {
    margin-bottom: 0.5rem;
    font-weight: inherit;
    text-align: center;
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
    .project {
      width: 15px;
    }
    figcaption {
      font-size: 1rem;
    }
  }
  .form-controls {
    margin-bottom: 2rem;
    .control {
      display: flex;
      flex-flow: column;
      margin-bottom: 1.5rem;
      label {
        color: lightslategray;
        font-size: 1rem;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.03125rem;
        font-weight: 300;
      }
      input {
        border: 2px solid black;
        color: black;
        font-size: 1rem;
        font-family: inherit;
        letter-spacing: 0.0625rem;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: 4;
        &:focus {
          color: darkslategray;
          border-color: darkslategray;
          outline: none;
        }
      }
      .error {
        color: maroon;
        opacity: 0;
        font-size: 0.85rem;
      }
    }
  }
  .submit {
    border: 0.2rem solid black;
    background-color: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.75rem 1rem;
    font-family: inherit;
    cursor: pointer;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.bottom-bar {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  display: absolute;
  bottom: 0;
}

@media (min-width: 705px) {
  form {
    .form-controls {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }
  }
}

@media (max-width: 704px) {
  form {
    padding: 1rem 2rem;
    .odin-logo {
      max-width: 200px;
      margin-top: 2rem;
      width: 100%;
    }
    .title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
    .form-controls {
      margin-bottom: 2rem;

      .control {
        margin-bottom: 1rem;
      }
    }
  }
}
